*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body, h1, h2, p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* COMPOSITION */

/* UTILITIES */

/* BLOCK */

/* EXCEPTIONS */
